<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск должников</title>
    <link rel="stylesheet" href="/app.css">
    <script src="https://kit.fontawesome.com/1ffd8209ac.js"></script>
</head>
    <body>
        <h1><a href="/"><i class="fas fa-home" id="homepageicon"></i></a> Сервис поиска должников <a href="http://fssprus.ru/">в базе данных <span class="fssp">ФССП</span></a></h1>
        
        