<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск должников</title>
</head>
    <body>
        <a href="/"><h1>Приложение для поиска должников в базе данных ФССП</h1></a>
        
        