<% include partials/header %>

<div class="noresults">
    <p>Ничего не найдено. Информация в базе данных отсутсвует</p>
    <p>Радуйтесь, если вы должник <i class="far fa-smile-wink"></i></p>
    <p>Грустите, если взыскатель <i class="far fa-sad-tear"></i></p>

    <a href="/"><button>Пойдем домой?</button></a>
</div>


<% include partials/footer %>